<div class="comments">
  
  {{#each this}}
  <div class="card text-center text-white bg-secondary mb-3 mx-auto" style="max-width: 40rem;">

  <section class="comment">
    <div class="meta card-header">
     <h4> <span class="text-danger">{{user.username}}</span> on <span class="text-info">{{format_date created_at}}</span>
    </h4>
    </div>
    <div class="text card-body">
    <h4>  {{comment_text}}</h4>
    </div>

  </section>
</div>

  {{/each}}
</div>