<ul class="post-list">

  {{#each posts as |post|}}
  <li class="post-child">
    <div class="card w-100 mx-auto text-center" style="max-width: 60rem;">
    {{> post-info post }}
  </div>
  <br>
  </li>
  {{/each}}

</ul>

